body {
    font-family: 'Montserrat', sans-serif;
    background: #0A192F;
    color: #E0E0E0;
    margin:0; padding:0;
}

header {
    background: #00001a;
    padding: 10px 20px;
}

header nav a {
    color: #D4AF37;
    margin-right: 15px;
    text-decoration: none;
    font-weight: 600;
}

header nav span {
    margin-left: 20px;
    font-weight: 700;
}

.container {
    max-width: 600px;
    margin: 150px auto 50px auto;
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

input, button {
    display:block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button, .botao-jogo {
    background: #D4AF37;
    color: #0A192F;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    display:inline-block;
    margin-top:10px;
}

button:hover, .botao-jogo:hover {
    background: #FFD700;
}
